[Unit]
Description=OrangePi 2G-IOT GPIO Specify

[Service]
ExecStart=/usr/local/sbin/OrangePi_2G_IOT_GPIO.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target

